.backgroundContainer {
  /* display: flex;
  justify-content: center; */
  align-items: center;
}

.loginButton {
  background-image: url("./pics/button.png");
  min-height: 64px;
  min-width: 129px;
  text-align: center;
  color: white;
}

.loginButton:hover {
  background-image: url("./pics/buttonPressed.png");
}

.loginForm {
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.row {
  display: flex;
}

.column {
  flex: 1;
}

#leftColumn {
  background-image: url("./pics/sexiestmorten.png");
  transform: rotateY(180deg);
  
  min-height: 95vh;
  min-width: 33.33%;
}

#rightColumn {
  background-image: url("./pics/sexiestmorten.png");
  min-height: 95vh;

  min-width: 33.33%;
}